.cover__subtitle {
  margin: 0 16px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  padding-bottom: 33px;
}


@media (min-width: 768px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    margin: 0 204px 0;
    padding-bottom: 115px;
  }
}

@media (min-width: 1024px) {
  .cover__subtitle {
    margin: 0 332px 0;
    padding-bottom: 195px;
  }
}

@media (min-width: 1280px) {
  .cover__subtitle {
    margin: 0 412px 0;
    padding-bottom: 245px;
  }
}
