.lead__title {
  font-size: 40px;
  line-height: 44px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0em;
  margin: 0 14px 16px 14px;
}


@media (min-width: 768px) {
  .lead__title {
  margin: 0 24px 32px;
  font-size: 96px;
  line-height: 100px;
  }
}


@media (min-width: 1024px) {
  .lead__title {
  margin: 0 104px 32px;
  }
}
